@media (max-width: 1136px) {
  /*.container {
        padding: 0 32px;
    }*/

  .main-banner {
    background-position: right bottom;
  }

  .additive-content__heading {
    padding: 64px 0;
  }
  .additive-content__info-blocks {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 64px 0 48px 0;
  }
  .footer__above-hr {
    flex-wrap: nowrap;
  }
  .footer__above-hr,
  .footer__under-hr {
    padding: 0 128px 0 96px;
  }
  hr {
    margin: 64px 0;
  }
  .footer--ul {
    flex-direction: column;
  }
  .footer__popup-button {
    padding: 3px 36px;
  }
  .footer__above-hr__main-text {
    max-width: 336px;
  }
  .footer--ul li:nth-child(2) {
    padding: 25px 0;
  }
  .footer--ul li::before {
    margin-right: 37px;
  }
}

@media (max-width: 767px) {
  .footer__above-hr__main-text {
    max-width: 60%;
  }
  .contacts-header {
    margin: 10px 0 49px;
  }
  .contacts__content {
    flex-direction: column;
    align-items: center;
  }
  .contacts__content {
    margin: 64px 0;
  }
  .contacts__data-block {
    padding-bottom: 64px;
  }
  .form-heading {
    max-width: 40%;
    display: inline-block;
  }
  .contacts__form-block {
    padding-bottom: 54px;
  }
}

@media (max-width: 667px) {
  .main-heading {
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    width: 100%;
  }

  .main-heading,
  .main-heading__p {
    width: 100%;
    text-align: center;
  }

  .header {
    margin-top: 24px;
  }

  .main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    background-image: none;
  }

  .main-banner__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
    margin-top: 32px;
  }

  .top-box {
    min-height: 376px;
  }

  .footer__above-hr,
  .footer__under-hr {
    padding: 0 32px;
  }

  .our-project-block__p {
    width: 100%;
  }

  .mobile-apps__project__text {
    font-size: 22px;
    line-height: 26px;
  }

  .info-block {
    width: 100%;
    margin: 16px 0;
  }

  .main__contacts__heading-second {
    line-height: 44px;
  }
  .main__contacts__p {
    line-height: 24px;
  }
  .main__contacts-text {
    max-width: 70%;
  }
}

@media (max-width: 425px) {
  .contacts-header {
    margin: 10px 0 33px;
  }

  .main__contacts__heading-second {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.04em;
  }
  .main__contacts__p {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
  }

  .project__text {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    top: 16px;
    right: 16px;
  }
  .mobile-apps {
    margin-top: 16px;
  }
  .mobile-apps__project__text {
    font-size: 16px;
    line-height: 19px;
    left: 16px;
    top: 26px;
  }

  .additive-content {
    padding-top: 48px;
  }
  .additive-content__heading {
    padding: 48px 0 32px 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }

  .our-project-block {
    padding: 64px 0 32px;
  }

  .mobile-apps {
    flex-wrap: wrap;
  }
  .mobile-apps > .project-picture-block:nth-child(1) {
    margin: 16px 0;
  }

  .footer {
    padding: 18px 0 32px 0;
    margin-top: 64px;
  }
  .footer__above-hr,
  .footer__under-hr {
    padding: 0 16px;
  }

  .footer__above-hr {
    flex-direction: column;
  }
  .footer__above-hr__main-text {
    max-width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }

  .footer__above-hr__main-text p {
    padding-top: 32px;
  }

  hr {
    margin: 40px 0 32px 0;
  }

  .contacts__data-block {
    padding-bottom: 32px;
  }

  .form-heading {
    max-width: 100%;
  }

  .contacts__form-block {
    padding: 20px 30px;
  }
  .form-button {
    padding: 15px 0;
  }
}
