$widthSite: 1140px;

* {margin: 0; padding: 0;}

html,
body {
    font-family: Roboto, serif;
    font-size: 16px;
    color: #1c1c1c;
    line-height: 1.875em;
    min-width: 320px;
    overflow-x: hidden;
    letter-spacing: .025em;
    height: 100%;
}

button {
    border-style: none;
}
button:focus { /* like btm-primary:focus*/
    color: #fff;
    background-color: #025ce2;
    border-color: #0257d5;
    box-shadow: 0 0 0 0.2rem rgba(49,132,253,.5);
}

iframe {
    border: none;
    width:100%;
    height:180px;
}

/* Перебиваю бутстрап воимя соответствия материала урока */
.container {
    max-width: $widthSite;
}

.hidden {
    display: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.main-heading__p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    width: 425px;
    opacity: 0.6;
}

.main-heading {
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    width: 510px;
    margin: 0 0 32px 0;
}

.contacts__data-block__heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.contacts__data-block__p {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}
.contacts__data-block__p a {
    font-weight: normal;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.form-inputs {
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 21px 0 21px 42px;
}
.form-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    padding-bottom: 48px;
    color: #1F3F68;
}
.custom-form-group {
    padding-bottom: 32px;
}
.custom-form-group label {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

.form-button {
    background-color: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    padding: 23px 0;
    box-sizing: border-box;
    margin: 40px 0 0 0;
}

.additive-content__heading {
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.additive-content__info-blocks {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}


.our-project-block__red > p {
    width: 75%;
    display: inline-block;
}

.footer__copyright-block {
    padding: 15px 0;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

.footer--ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
}
.footer--ul li {
    display: flex;
    flex-grow: 1;
    flex-basis: 33.3333%;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin: 0 32px 0 0;
}
.footer--ul li:first-child::before {
    content: 'A. ';
    display: block;
    margin-right: 16px;
}
.footer--ul li:nth-child(2)::before {
    content: 'T. ';
    display: block;
    margin-right: 16px;
}
.footer--ul li:last-child::before {
    content: 'E. ';
    display: block;
    margin-right: 16px;
}

.main__contacts-banner-area {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-size: cover;
    background: url(../img/laravel_logo.jpg) no-repeat fixed bottom 200px center;
    text-align: center;
    height: 350px;
    padding: 20px;
}

.main__contacts-text {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 3px;
    max-width: 60%;
}
.main__contacts__heading-second {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.main__contacts__p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 57px 0 96px 0;
}

.contacts__data-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 301px;
}

.contacts__form-block {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
}

.contacts__picture {
    padding-bottom: 56px;
}

.contacts__picture > img {
    width: 100%;
}
.contacts__phone {
    margin: 15px 0;
}

.info-block__heading > h4 {
    min-height: 130px;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    padding: 30px 0 0 0;
}

.footer__above-hr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    padding: 0 0 96px 0;
}
.footer__above-hr__main-text {
    width: 495px;
}
.footer__above-hr__main-text > h2 {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
}
.footer__above-hr__main-text > p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.contacts__phone .fas {
    margin: 0 5px 0 0;
}
.info-block .fas {
    margin: 0 0 0 5px;
}

.main-content-block {
    min-height: 100vh;
}

.top-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 41px;
    box-sizing: border-box;
    height: 100%;
}

.main-banner {
    padding-top: 80px;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-image: url(../img/illustration.png);
    background-position: right center;
    background-size: 45%;
}

.index-page-gradient {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.main-banner__button {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    margin-top: 71px;
}
.main-banner__button:hover {
    color: #fff;
}

.footer__popup-button {
    background: #5A98D0;
    color: #fff;
    padding: 15px 80px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
}


.info-block__p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}
.info-block__href {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
}

.our-project-block__heading {
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    padding: 0 0 32px 0;
    color: #000000;
}
.our-project-block__p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    padding: 0 0 64px;
    color: #222222;
    width: 70%;
    display: inline-block;
}

.additive-content, .our-project-block {
    box-sizing: border-box;
}
.additive-content {
    padding-top: 64px;
}
.our-project-block {
    padding: 128px 0 32px;
}

.project-picture-block {
    position: relative;
    flex-grow: 1;
}
.project-picture-block__image {
    width: 100%;
}
.project__text {
    position: absolute;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    top: 12%;
    right: 8%;
    color: #FFFFFF;
}

.mobile-apps {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}
.mobile-apps > .project-picture-block:nth-child(1) {
    margin-right: 3rem;
}
.mobile-apps__project__text {
    position: absolute;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    top: 32px;
    left: 32px;
    right: auto;
    text-align: left;
    color: #FFFFFF;
}

.info-block {
    display: flex;
    flex-direction: column;
    max-width: 359px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 44px 32px;
    margin: 10px;
    box-sizing: border-box;
    justify-content: space-between;

    &__picture {
        display: flex;
        justify-content: center;
        position: relative;
        padding: 5px;
    }

    &__picture img:nth-child(2) {
        bottom: 7%;
        right: 7%;
        position: absolute
    }
}


/* ------------------ */


#musicCarousel {
    max-width: 510px;
}

a, a:hover {
    text-decoration: none;
}

textarea {
    resize: none;
}

/* because of bootstrap v5 */
ul, ol {
    padding: 0;
}

.mb-6 {
    margin-bottom: 6rem;
}

.header {
    min-height: 48px;
    margin: 34px 0 55px;
}
.header ul {
    list-style-type: none;
}

#map {
    padding: 0;
    width: 100%;
    height: 450px;
}

.footer {
    background-color: #316099;
    color: #fff;
    padding: 91px 0 64px;
    bottom: 0;
    width: 100%;
    margin: 112px 0 0 0;
}
.footer__under-hr {
    padding: 64px 0 0 0;
}