{% for image in images %}
    <div class="col-md-4">
        <div class="row">
            <a data-fancybox="gallery" href="{{ image.path }}/{{ image.name }}" rel="noopener noreferrer">
                <img onclick="increaseViewCount({{ image.id }})" src="{{ image.path }}/{{ image.name }}" class="img-thumbnail" alt="collection-image" width="200" height="200">
            </a>
        </div>
        <div class="row">
        <span id="views_count_{{ image.id }}"
              class="badge rounded-pill bg-primary text-center w-50 mx-auto mb-3">
            {{ image.views }}
        </span>
        </div>
    </div>
{% endfor %}
