* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 5px 0;
}
textarea {
    resize: none;
}
.pt-6, .pb-6 {
    padding-top: 6rem;
}

.main-banner {
    opacity: 0.8;
    height: 100%;
    padding-top: 66px;
}

.product-box-item {
    border: 2px solid #f2f2f2;
    padding: 30px 50px;
    max-width: 359px;
    min-width: 320px;
}
.product-box-item:hover, .homework-item:hover {
    box-shadow: 0 0 20px rgba(97,136,171,.2);
    transition: ease .3s;
    border-radius: 5px;
}

.homework-item {
    width: 100%;
    border: 2px solid #f2f2f2;
    padding: 30px 50px;
    border-radius: 10px;
    margin: 10px 0;
}

.font-weight-bold {
    font-size: 32px;
    color: #666;
}

.products {
    height: 100vh;
}

.homework-item > ol > li {
    border-bottom: 1px solid #5c9cf9;
}

@media (max-width: 1199px) {
    .product-box {
        flex-direction: column;
        align-items: center;
    }
}


.form-control.select-form:focus, .form-select.select-form:focus {
    color: #495057;
    background-color: #fff;
    border-color: #28a644;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
}
.form-check {
    padding-left: calc(var(--bs-gutter-x)/ 2);
}
.form-action-item form {
    height: 250px;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    overflow-y: scroll;
    height: 400px;
}
.reviews-scrollspy {
    position: relative;
    height: 400px;
    margin-top: .5rem;
    overflow: auto;
}

.review-block {
    min-height: 250px;
}
